h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.ui-header {
    background-color: #fff !important;
}

.ui-footer {
    background-color: #fff !important;
}

.logo {
    margin: 0 !important;
    padding: 0 !important;
    text-align:center;
}

.menu-bg {
    background-color: #FFFFFF !important;
}

#linkColor {
    color: #0860c0;
}

a {
    text-decoration: none;
}

div.menu-bg ul li a {
    background-color: #0860c0 !important;
}

.block {
    text-align: center;
}

hr {
    background-color: #0860c0;
}

p {
    text-align: justify;
}

h2 {
    color: #0860c0;
}

.subtitle {
    font-size: large;
    text-align: center;
}

#bouton1{background:url(../img/bouton1.png) no-repeat;display:block;width:50%;height:50%;background-position: center; }
#bouton1:hover{background:url(../img/bouton1over.png) no-repeat;display:block;width:300px;height:40px;background-position: center; }
#bouton2{background:url(../img/bouton2.png) no-repeat;display:block;width:300px;height:40px;}
#bouton2:hover{background:url(../img/bouton2over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton3{background:url(../img/bouton3.png) no-repeat;display:block;width:300px;height:40px;}
#bouton3:hover{background:url(../img/bouton3over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton4{background:url(../img/bouton4.png) no-repeat;display:block;width:300px;height:40px;}
#bouton4:hover{background:url(../img/bouton4over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton5{background:url(../img/bouton5.png) no-repeat;display:block;width:300px;height:40px;}
#bouton5:hover{background:url(../img/bouton5over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton6{background:url(../img/bouton6.png) no-repeat;display:block;width:300px;height:40px;}
#bouton6:hover{background:url(../img/bouton6over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton7{background:url(../img/bouton7.png) no-repeat;display:block;width:300px;height:40px;}
#bouton7:hover{background:url(../img/bouton7over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton8{background:url(../img/bouton8.png) no-repeat;display:block;width:300px;height:40px;}
#bouton8:hover{background:url(../img/bouton8over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton9{background:url(../img/bouton9.png) no-repeat;display:block;width:300px;height:40px;}
#bouton9:hover{background:url(../img/bouton9over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton10{background:url(../img/bouton10.png) no-repeat;display:block;width:300px;height:40px;}
#bouton10:hover{background:url(../img/bouton10over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton11{background:url(../img/bouton11.png) no-repeat;display:block;width:300px;height:40px;}
#bouton11:hover{background:url(../img/bouton11over.png) no-repeat;display:block;width:300px;height:40px;}
#bouton12{background:url(../img/bouton12.png) no-repeat;display:block;width:300px;height:40px;}
#bouton12:hover{background:url(../img/bouton12over.png) no-repeat;display:block;width:300px;height:40px;}